<p>
    Bienvenido! Somos un grupo de estudiantes de la carrera de Informática que organizamos 
    torenos de Fifa 23 en PS4, XBox One y PC.
    Si quieres participar por favor llena el formulario para poder ser parte del siguiente torneo:
</p>
<form>
    <div class="mb-3">
        <label for="name" class="form-control">Nombre</label>
        <input type="name" class="form-control" id="nombre" aria-describedby="name">
    </div>
    <div class="mb-3">
        <label for="phone" class="form-control">Celular</label>
        <input type="name" class="form-control" id="celular" aria-describedby="name">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">No compartiremos con nadie tu información personal</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
